*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho{
  text-align: center;
  width: 100%;
  height: 12vh;
  background-color: rgba(34, 88, 34, 0.884);
  color: aliceblue;
  padding-top: 1em;
  box-shadow: 0px 2px 2px 2px rgb(142, 180, 159);

}


.container-lista{
width: 80%;
height: auto;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
padding-top: 40px;
align-items: center;
border: 0.2em solid rgba(51, 168, 51, 0.452);
box-shadow: 0px 4px 4px 2px rgba(184,175,184,1);
}

.container-lista div{
  width: 85%;
  margin: auto;
  padding-left: 1em;
}
.container-lista_itens{
  text-align: justify;
  width: 61%;
  height: 100%;
  margin: auto;
  padding: 30px;
  align-items:center;

}

.container-lista_itens_semana{
  height: auto;
  margin-top: 5em;
  padding-bottom: 1.5em;
}

.container-lista_itens_semana_subItens{

  display: flex;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}
.container-lista_itens_semana h3{
text-align: left;
margin-left: 5em;
margin-bottom: 0.5em;
color: rgba(34, 88, 34, 0.418);
}

.container-lista_itens_semana li{

  list-style: none;
  margin-bottom: 0.8em;
  margin-left: 1em;

}

li::before{
  content:"✔";
  color: rgba(21, 78, 38, 0.753);

}
.container-lista_itens a{
  text-decoration: none;
  color: rgba(21, 78, 38, 0.753);
  font-size: 18px;
  cursor: pointer;
  padding: 0.3em;
  transition: 1ms;
}

.container-lista_itens_semana4{
  color: rgba(21, 78, 38, 0.753);
  font-size: 18px;
}
.container-lista_itens_semana a:hover{
  border-radius: 10px;
  background-color: rgba(34, 88, 34, 0.705);
  border-radius: 10px;
  color:aliceblue;
}

footer{
  text-align: center;
  width: 100%;
  height: 5vh;
  background-color: rgb(34, 88, 34);
  color: aliceblue;
  padding-top: 0.5em;
}